{% extends 'base.html.twig' %}

{% block stylesheets %}
{{ parent() }}
{% endblock stylesheets %}

{% block title %}Réinitialisation de mot de passe{% endblock %}

{% block body %}

<div class="reset">
    <div class="inscription-title">
        <p id="myText"data-label="Réinitialisez votre mot de passe !"></p>
    </div>
    <div class="reset-content">
        {{ form_start(form) }}
        {{ form_rest(form) }}
        <button class=" btn-inscription" type="submit"> Réinitialiser </button>
        {{ form_end(form) }}
    </div>
</div>
{% endblock %}