{% extends 'base.html.twig' %}

{% block title %}L'Atelier de Marie{% endblock %}

{% block stylesheets %}
{{ parent() }}
<link rel="stylesheet" href="{{ asset('css/home_page.css')}}">
{% endblock stylesheets %}

{% block body %}
<div class="home_content">
    <div id="basicTimeline">
        <div class="square el">
            <div class="home-container">
                <div class="first el">
                    <div class="logo-home">
                        <img src="{{ asset('images/logo-atelier.png') }}" alt="logo atelier">
                    </div>
                </div>
                <div class="second el">
                    <p> Retouche Couture | Cuir | Fourrures à EPINAL</p>
                </div>
                <div class="third el">
                    <h1> L'Atelier de Marie </h1>
                </div>
                <div class="fourth el">
                    <div class=" separator"></div>
                </div>
                <div class="fiveth el">
                    <a href="#description" class="btn-primary" >Découvrir l'Atelier</a> 
                </div>
            </div>
        </div>
    </div>
    <div class="description" id="description">

    </div>
</div>

{% endblock %}
