

<footer>
    <div class="footer">
        <span>
            By cc-cie | &copy; Atelier de Marie | <a href="{{ path('mention') }}" class="mention" >Mentions Légales</a> | Tous Droits Réservés 2022-2023 
        </span>
    </div>
    <div class="logo-footer">
        <a href="/">
            <img src="{{asset('build/images/logo-atelier.png') }}" alt="logo"> 
        </a>
    </div>
</footer>

