<link rel="stylesheet" href="{{asset('css/footer.css') }}">

<footer>
    <div class="footer">
        <span>
            By cc-cie | &copy; Atelier de Marie | <span class="mention">Mentions Légales</span> | Tous Droits Réservés 2022-2023 
        </span>
    </div>
    <div class="logo-footer">
        <a href="/">
            <img src="{{asset('images/logo-atelier.png') }}" alt="logo"> 
        </a>
    </div>
</footer>