<link rel="stylesheet" href="{{asset('css/header.css')}}">

<header>    
    <div class="logo">
            <img src="{{asset('images/tel.png') }}" alt="logo"> 
        <p> 06 36 66 36 67</p>
    </div>
    <div class="menu">
            <li>ACCUEIL</li>
            <li>PRESTATION</li>
            <li>RENDEZ-VOUS</li>
            <li>CONTACT</li>        
            <li>COMPTE</li>              
        </ul>
    </div>

</header>