body{
    background: linear-gradient( #4d161656,#3a1a1a88), url(../images/bg-userRdv.jpg);
    overflow: visible;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.mention-content{
    display: flex;
    flex-direction: row;
}

.mention_legale{
    margin: 1rem ;
    width: 60%;
    padding: 1rem;
    background: var(--light);
    font-size: 1.2rem;
    box-shadow: var(--box-shadow);
}
.mention-content h1 {
    width: 30%;
    font-size: 7rem;
    text-align: center;
    margin: 5rem auto;
}