body{
    overflow: hidden;
    background: linear-gradient( #35000061,#35000088), url(../images/bg-rdv.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height:100vh;
}
.rdv-container{
    width: 100%;
    text-align: center;
    margin: auto 0;
    min-height: 100%;

    
}
.rdv-content{
    display: flex;
    flex-direction: row;

}
.rdv-info{
    width: 60%;
    color: var(--primary-color);
    text-align: center;
    padding-top: 4rem;
}
.rdv-info h1{
    margin-top: -.5rem;
    padding-bottom: 1.5rem;
    font-size: 4.5rem;
}
.form_rdv  label{
    display: none;
}
.form_rdv{
    margin: .5rem;
}

.form_rdv p {
    margin-left: -18rem;
    padding: .2rem;
    font-style: italic;
}

#reservation_lastname, #reservation_firstname, #reservation_email {
    width: 25rem;
    margin-top: 1.5rem;
    padding: .3rem;
    height: 2.5rem;
    font-size: 1.5rem;
    background-color: var(--light);
    color: var(--primary-color);
    border: none;
    box-shadow: var(--box-shadow);
}
.rdv-button{
    width: 10rem;
    border: none;
    margin-bottom: 4rem;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    border-radius: 3px;
    padding: .7rem;
    box-shadow: var(--box-shadow);
    text-decoration: none;
    transition: .5s;
    font-family: var(--font-family);
    font-size: 1.2rem;
}
.rdv-button:hover{
    color: var(--primary-dark);
    transform: scale(1.2);
}
.rdv-calendar-content{
    width:30%;
    background: var(--dark);
    height: auto;
    margin-top: 4rem;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
}
#calendrier{
    width:100%;
    color: var(--primary-color);
    border: none !important;
    box-sizing: none !important;
    font-size: 1rem; 
}
.rdv-calendar label{
    display: none;
}
.meeting{
    font-size: 2.2rem;
    padding-bottom: 1rem;
}
#reservation_date {
    margin-bottom: 1rem;
    background-color: var(--light);
    border: none;
    color: var(--primary-color);
    padding: .8rem;
    font-size: 1.3rem;
}
#reservation_time{
    margin-bottom: 3rem;
}
#reservation_time_hour, #reservation_time_minute{
    background-color: var(--light);
    border: none;
    color: var(--primary-color);
    padding: .3rem;
    font-size: 1.3rem;
    margin: .5rem;
}
#reservation_time option{
    background-color: black;
}
.separator3{
    margin:  0 auto;
    width: 15rem;
    border-top: var(--border);
    
}
