body{
    background: linear-gradient( #26010161,#1e030388), url(../images/bg-compte.jpg);  
}
.inscription-container{
    display: flex;
    flex-direction: row;
}
.inscription-title{
    width: 50%;
    font-size: 8rem;
    color: var(--primary-color);
    text-align: center;
}

.inscription-content{
    background: var(--dark);
    width: 40%;
    margin:  1.5rem auto;
    text-align: center;
    padding: 1.5rem;
    color: var(--primary-color);
    box-shadow: var(--box-shadow);
}

.inscription-content label{
    display: none;
}
.inscription-content h1{
    font-size: 4rem;
    margin-bottom: 2rem;
}
#myText{
    margin: 7rem 0 0 3rem;
}
#user_lastname, #user_firstname, #user_email, #user_password, #email, #password, #form_email, #form_password {
    width: 80%;
    margin-bottom: 1.5rem;
    padding: .3rem;
    height: 2.5rem;
    font-size: 1.5rem;
    background-color: var(--light);
    color: var(--primary-color);
    border: none;
    box-shadow: var(--box-shadow);
}
.btn-inscription{

    width: 8rem;
    margin-top: 1rem;
    border: none;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    border-radius: 3px;
    padding: .7rem;
    box-shadow: var(--box-shadow);
    text-decoration: none;
    transition: .5s;
    font-family: var(--font-family);
    font-size: 1.2rem;
}
.btn-inscription:hover{
    color: var(--primary-dark);
    transform: scale(1.2);
}
.inscription-content a {
    display: block;
    margin: .7rem;
    text-decoration: none;
    color: var(--primary-color);
    font-size: 1rem;
    transition: .5s;
}
.inscription-content a:hover{
    scale: 1.2;
    color: var(--primary-dark);

}
.check{
    display: unset !important ;
}
.reset{
    display: flex;
    flex-direction: row;
}
.reset-content{
    color: var(--primary-color);
    margin: 8rem auto;
    text-align: center;
    background: var(--dark);
    width:40%;
    height: 20rem ;
    padding: 4rem;
    box-shadow: var(--box-shadow);
}
.reset-content label {
    padding: 1rem;
    font-size: 1.5rem;
}

