@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cookie&display=swap');

/* ---------------------------------------theme----------------------------------------- */

:root {
    --primary-color:  #fdfafa;
    --secondary-color: #060606;
    --primary-dark: #835b5b;
    --dark: rgba(0, 0, 0, 0.515);
    --light: rgba(255, 255, 255, 0.14) ;
    --warning: #8b0a0a;
    --success: #009432;
    --font-family: 'oswald', sans-serif;
    --font-title: 'Cookie', sans-serif;
    --font-1: 'Pacifico', sans-serif;
    --box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    --box-shadow-2: rgba(5, 5, 5, 0.25) 0px 15px 60px -12px inset, rgba(8, 8, 8, 0.3) 0px 15px 60px -12px inset;
    --border-radius: 3px;
    --border: 3px solid  #fdfafa;;
    --text-shadow: 2px 2px 2px black;
}

/* --------------------------------------reset------------------------------------------ */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-family);
}
/* ----------------------------------------body----------------------------------------- */
body {
    width: 100%;
    overflow: hidden;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height:100vh;   
    color: var(--primary-color);
}
/* ---------------------------------------container--------------------------------------- */
.contain{
    width: 100%;
    display: flex;
    flex-direction: row;
    text-align: center;
}
/* ----------------------------------------btn------------------------------------------ */
.btn-primary{
    width: 11rem;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    border-radius: 3px;
    padding: .7rem;
    box-shadow: var(--box-shadow);
    text-decoration: none;
    transition: .5s;
    font-family: var(--font-family);
    font-size: 1.2rem;
}
.btn-primary:hover{
    color: var(--primary-dark);
    transform: scale(1.2);
}
/* -------------------------------------message  flash -------------------------------*/
.obg{
    font-style: italic;
}
.flash{
    padding: .5rem;
    text-align: center;
    font-size: 1.5rem;
}
.flash-success{
    background-color: var(--primary-dark);
    color: var(--primary-color);
}
.flash-error{
    background: var(--dark);
    color: var(--primary-color) ;
    border: 3px solid var(--warning);
}
/* -------------------------------------separator--------------------------------- */
.separator  {
    width: 40rem;
    height: 5px;
    margin-top: 2rem;
    border-top: var(--border) ;
    margin-left: -82rem;
}
.separator2{
    margin:  0 auto;
    width: 15rem;
    border-top: var(--border);
    padding-bottom: 2rem;
}
.separator3{
    margin:  0 auto;
    width: 12rem;
    border-top: var(--border);
    padding:.3rem ;
}

/* ------------------------------------------media quieries----------------------------------------- */

@media screen and (min-width:1650px){
    .separator{
        margin-left: -70rem ;
        margin-top: 4rem;
    }
    .home-container a {
        margin-left: -50rem !important;
    }
    .home-container h1{
        font-size: 15rem !important;
    }
    .text-description{
        font-size: 1.8rem !important;
    }
    .text-benefit-home{
        height: 40rem !important;
        margin: 4.5rem 0 0 6rem !important;
        font-size: 1.7rem !important;
        padding: 3rem;
    }
    .content-carousel{
        margin-top: 4.5rem !important;
        height: 40rem !important;
    }
    .carousel-inner img {
        height: 40rem !important;
    }
    .text-benefit-home h1 {
        font-size: 3rem !important;
    }
    .benefit-text {
        height: 46rem !important;
    }
    .benefit-text h1{
        font-size: 7rem !important;
    }
    .benefit-text p{
        margin-bottom: 4rem !important;
        font-size: 1.6rem !important;
    }
    .card-img {
        height: 46rem !important;
    }
    .card-img img{
        height: 36rem !important;
        margin-bottom: 1.5rem !important;
    }
    .carousel-container2{
        width:29% !important;
    }
    .msg-devis{
        font-size: 9rem !important;
        margin: 3rem 0 0 0;
    }
    .devis_content h1{
        margin-top: 8rem !important;
        font-size: 8rem !important;
    }
    .devis_content h2{
        font-size: 4rem;
    }
    .form-devis-content h1{
        margin-top: 6rem !important;
        font-size: 3.5rem !important;
    }
    .contact-content{
        margin: 3.5rem 1rem 1rem 7.7rem !important;
        padding: 3rem !important;
    }
    .contact-content h1{
        font-size: 4rem;
    }
    .contact-content h2{
        font-size: 1.2rem;
    }
    .contact-content img{
        width: 4rem !important;
        padding: .7rem !important;
    }
    .reseaux{
        margin: 3.5rem 1rem 1rem 7.7rem !important;
        padding: 3rem !important;
    }
    .reseaux h1{
        font-size: 4rem !important;
        padding: 0.5rem !important;
    }
    .reseaux img {
        width: 7rem !important;
        margin: 1.5rem !important;
    }
    .inscription-container{
        margin-top: 6rem !important;
    }
    .reset-content{
        margin: 12rem auto !important;
    }
    .mention_legale{
        margin: 4.5rem 3rem  0 0 !important;
        width: 50% !important;
        font-size: 1.4rem !important;
    }
    .mention-content h1 {
        margin-top: 15rem !important;
        width: 45% !important;
        font-size: 8rem !important;
    }
}

    @media screen and (max-width:1450px){
        .separator{
            margin-left: -86rem !important;
        }
    }
    @media screen and (max-width:1330px){
        .separator{
            margin-left: -89rem !important;
        }
        .home-container a {
            margin-left: -67rem !important;
        }
    }
    @media screen and (max-width:1260px){
        .separator{
            margin-left: -91rem !important;
        }
        .home-container a {
            margin-left: -69rem !important;
        }
    }
    @media screen and (max-width:1200px){
        .separator{
            margin-left: -93rem !important;
        }
        .home-container a {
            margin-left: -71rem !important;
        }
    }
    @media screen and (max-width:1100px){
        .separator{
            margin-left: -98rem !important;
        }
        .home-container a {
            margin-left: -76rem !important;
        }
    }
    @media screen and (max-width:910px){
        .separator{
            margin-left: -101rem !important;
        }
        .home-container a {
            margin-left: -79rem !important;
        }
        header img {
            width: 2rem !important;
            margin-left: .3rem !important;
        }
        .header-p{
            font-size: .9rem !important;
        }
        .menu  {
            display: none;
            width:100%!important;
            height: 30vh !important;
            margin: 0 !important;
            right: 0;
            padding: 1rem;
            background: var(--secondary-color) !important;
            position: absolute !important;
            text-align: left !important;
            font-size: 1rem !important;
            top: 3.5rem !important;
            z-index: 1 !important;
            transition:all .5s ease-in-out
        }
        .menu a {
            width: 0% !important;
            display: block !important;
            padding-bottom: .4rem !important;
            transition: all ease-in-out .4s !important;
        }
        .menu a:hover{
            letter-spacing: 5px !important;
        }
        .burger{
            display: unset !important;
            padding: 0;
            width: 4.5rem;
            height: 4rem;
            border: none;
            background: transparent;
            cursor: pointer;
        }
        .bar{
            display: block;
            width: 2rem;
            height: 4px;
            background: var(--primary-color);
            border-radius: 3px;
            margin: .4rem !important;
        }
        .bar::before, .bar::after {
            display: block;
            content: "";
            width: 2rem ;
            height: 4px;
            position: absolute !important;
            background: var(--primary-color);
            border-radius: 3px;
            transition: all .3s ease-in-out;
        }
        .bar::before {
            transform: translateY(10px);
        }
        .show-bar.bar::before {
            transform:rotate(45deg) !important;
        }
        .bar::after {
            transform: translateY(-10px);
        }
        .show-bar.bar::after {
            transform:rotate(-45deg) !important;
        }
    }
    @media screen and (max-width:800px){
        .home-container h1{
            font-size: 7rem !important;
        }
        .separator{
            margin-left: -105rem !important ;
            margin-top: 4rem;
        }
        .home-container a {
            margin-left: -85rem !important;
        } 
        .home-benefit{
            flex-direction: column !important;
            height: auto !important;
        }
        .text-benefit-home{
            width: 80% !important;
            height:36rem !important;
            margin: 0 auto !important;
            font-size: 1.1rem !important;
            padding: 3rem;
        }
        .carousel-container{
            margin: 2rem auto !important;
            width:60% !important;
            margin-bottom: 5rem !important;
        }
        .content-carousel{
            margin-left: 0 !important;
        }
        .carousel-inner img {
            height: 60vh !important;
        }
        body{
            overflow: visible !important;
        }
        .contain {
            display: flex !important;
            flex-direction: column !important;
            height: auto !important;
            padding-bottom: 6rem !important;
        }
        .benefit-content{
            margin: 0 auto !important;
            width: 90% !important;
        }
        .carousel-container2{
            width:50% !important;
            margin: 0  auto!important;
        }
        .devis_content{
            margin:  0 auto !important;
            width: 80% !important;
            padding-top:3rem ;
        }
        .devis_content h1{
            margin: 0 !important;
        }
        .form_devis{
            margin:  0 auto !important;
            width: 80% !important;
            padding: 2rem;
            height: auto !important;
        }
        .devis_content h2{
            margin-bottom: 5rem !important;
        }
        .contact-content, .reseaux{
            margin: 1.5rem auto !important;
            width: 80% !important;
            height: auto !important;
        }
        
        .inscription-container{
            flex-direction: column !important;
        }
        .inscription-title{
            width: 90% !important;
            font-size: 6rem !important;
            margin: 0 auto !important;
        }
        #myText{
            margin: 1.5rem !important;
        }
        .inscription-content{
            width: 80% !important;
            margin:  1.5rem auto;
            height: auto !important;
        }
        .contain{
            padding-bottom: 2rem !important;
        }

    }





