@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cookie&display=swap');

/* ---------------------------------------theme----------------------------------------- */

:root {
    --primary-color:  #fdfafa;
    --secondary-color: #060606;
    --primary-dark: #835b5b;
    --dark: rgba(0, 0, 0, 0.515);
    --light: rgba(255, 255, 255, 0.14) ;
    --warning: #8b0a0a;
    --success: #009432;
    --font-family: 'oswald', sans-serif;
    --font-title: 'Cookie', sans-serif;
    --font-1: 'Pacifico', sans-serif;
    --box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    --box-shadow-2: rgba(5, 5, 5, 0.25) 0px 15px 60px -12px inset, rgba(8, 8, 8, 0.3) 0px 15px 60px -12px inset;
    --border-radius: 3px;
    --border: 3px solid  #fdfafa;;
    --text-shadow: 2px 2px 2px black;
}

/* --------------------------------------reset------------------------------------------ */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-family);
}

/* ----------------------------------------btn------------------------------------------ */

/* -------------------------------------message  flash -------------------------------*/
.flash{
    padding: .5rem;
    text-align: center;
    font-size: 1.5rem;
}
.flash-success{
    background-color: var(--primary-dark);
    color: var(--primary-color);
}

.btn-primary{
    margin-left: 100rem;
    width: 11rem;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    border-radius: 3px;
    padding: .7rem;
    box-shadow: var(--box-shadow);
    text-decoration: none;
    transition: .5s;
    font-family: var(--font-family);
    font-size: 1.2rem;
}
.btn-primary:hover{
    color: var(--primary-dark);
    transform: scale(1.2);
}

.separator2{
    margin:  0 auto;
    width: 15rem;
    border-top: var(--border);
    padding-bottom: 2rem;
}


/* ------------------------------------------media quieries----------------------------------------- */
@media screen and (min-width:1550px){
    .separator{
        margin-left: -70rem !important;
        margin-top: 4rem !important;
    }
    .home-container a {
        margin-left: -50rem !important;
    }
    .home-container h1{
        font-size: 15rem !important;
    }
    .text-description h1 {
        font-size: 3rem !important;
    }
    .text-description{
        font-size: 1.7rem !important;
    }
    .text-benefit-home{
        width: 88% !important;
        
    }
    .home-benefit{
        height: 188vh !important;
    }
    .text-benefit-home  p{
        font-size: 1.7rem;
    }
    .text-benefit-home h1{
        font-size: 3rem !important;
    }
    .carousel-text{
    font-size: 1.3rem !important;
    }
    .carousel-text h1{
        padding-bottom: 1rem !important; 
        font-size: 3rem !important;
    }
    .contact-icon img{
        margin-top: 2rem !important;
        width: 12rem !important;
        
    }
    .content-home-contact h2 {
        font-size: 2rem !important;
    }
    .content-home-contact h1 {
        font-size: 5rem;
        padding: 2rem !important;
        
    }
    .benefit-text {
        width: 40% !important;
    }
    .rdv-info{
        margin-top: 4rem !important;
        margin-bottom: 5rem !important;
    }
    .rdv-info h1{
        font-size: 5rem !important;
        padding: 2rem !important;
        margin-top: -2.5rem !important;
    }
    .rdv-calendar-content{
        margin: 8rem 0 0 8rem!important;
    }
    .content-rdv-user{
        margin: 8rem !important;
    }
    .msg-rdv{
        font-size: 9rem !important;
        margin: 3rem 0 0 0;
    }
}


@media screen and (max-width:1400px){
    .separator{
        margin-left: -89rem !important;
        margin-top: 3rem !important;
    }
    .home-container a {
        margin-left: -68rem !important;
    }
    @media screen and (max-width:1220px){}
    .separator{
        margin-left: -93rem !important;
    }
    .home-container a {
        margin-left: -72rem !important;
    }
}


@media screen and (max-width:1200px){
    .separator{
        margin-left: -98rem !important;
    }
    .home-container a{
        margin-left: -78rem !important;
    }

}