{% extends 'base.html.twig' %}

{% block stylesheets %}
{{ parent() }}
<link rel="stylesheet" href="{{ asset('css/rdv.css')}}">
{% endblock stylesheets %}


{% block title %}Rendez-vous{% endblock %}

{% block body %}

<div class="rdv-container">
    <div class="rdv-info"></div>
    <div class="rdv-calendar"></div>

</div>

{% endblock %}
