<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    {% apply inline_css(source( '@email_css/devis.css' )) %}
        <h1>Bonjour {{username}} !</h1>
        <h2>Nous avons bien reçu votre devis, il sera traité dans les meilleurs délais.</h2>
        <p>Voici un recapitulatif de votre demande :</p>
        <div class="devis">
            <p>
                {{ devisTitle }}
            </p>
            <div class="separator"></div>
            <p>
                {{ devisContent }}
            </p>
        </div>
        <h3>Merci pour votre confiance!</h3>
        <small>L'équipe de l'Atelier de Marie</small>
    {% endapply %}
</body>
</html>