html {
    font-family: 'open sans', sans-serif;
    color: black;
}

.devis{  
    font-size: 2rem;
    padding: 3rem;
    width: 30rem;
    background: #835b5b;
    color: #fdfafa;
}
.separator{
    margin:  0 auto;
    width: 100%;
    border-top: 2px solid #fdfafa;
    padding-bottom: 2rem;
}