
.contain-benefit {
    display: flex;
    flex-direction: row;
    text-align: center;
    overflow: hidden;
    height: 87vh;
    background: url(../images/prestation.jpg) !important;
    background-position: center !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
}
.content-benefit{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}
.benefit-content{
    width: 65%;
}


.benefit-text {
    background: var(--dark);
    padding: 2rem;
    text-align: center;
    height: 33rem;
    box-shadow: var(--box-shadow);

}
.benefit-text h1{
    background: transparent;
    padding: 1rem;
    font-size: 3rem;
}
.benefit-text p{
    padding: 0;
    font-size: 1.4rem;
    margin: 2rem;
}
.benefit-text a{
    display: block;
    width: 7rem;
    margin: 0 auto;
    margin-top: 2rem !important;
}
.carousel-container2{
    width:27%;
    overflow: hidden;
}
.content-carousel2{
    width:100%;
}
.card-img {
width: 100% !important;
background: var(--dark);
text-align: center;
color: var(--primary-color);
font-size: 1.3rem;
height: 33rem;
}
.card-img img{
    padding: 1rem;
    width: 100%;
    height: 24.5rem;
}
.card-img p{
    padding: 0 .5rem;
}
.text-description a{
    display: block;
    width: 7rem;
    margin: 0 auto;
}