.reset{
    display: flex;
    flex-direction: row;
    margin: auto 0;
    background: linear-gradient( #26010161,#1e030388), url(../images/bg-userRdv.jpg);  
    background-size: cover ;
    background-repeat: repeat ;
    background-position: center ;
    height: 86vh;
}
.reset p{
    font-size: 5rem;
}